body {
  margin: 0;
}
.board {
  background-color: #f5f5f5;
}

.board__header {
  text-align: center;
}

.board__body {
  display: flex;
}

.board__body_col_3 .board__col {
  flex: 33%;
  margin: 8px;
  
}

.board__search {
  display: flex;
}

.board__input {
  padding: 8px;
  flex-basis: 200px;
}

.board__filter {
  height: 33px;
  flex-basis: 150px;
}
